/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/*.mpr.bak
/*.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/.env
/.env.*
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
/vendorlib/temp/
.DS_Store
/.svn/
/mprcontents/mprjournal*
theme-cache/web/theme.compiled.css
theme-cache/web/theme.compiled.css.map
modules/javasource/*/proxies/*
modules/javasource/system/*
